<a href="https://colab.research.google.com/github/Swami5A9/Python-programming-lab-note/blob/main/P_Sai_Swami_Kumar_(5A9)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Excerise-1 Basics

a) Running instructions in iterative interperter and a python script

In [ ]:
a,b,c="Swami","5A9",8.8
print (type(a))
print (type(b))
print (type (c))

<class 'str'>
<class 'str'>
<class 'float'>

b) Write a program to purposefully raise indentation error and correct it.

In [ ]:
a=int(input ("Enter a value"))
b=int(input ("Enter b value"))
if a>b:
print ("If block")
print ("%d is big",a)
else :
print ("else block")
print ("%d is big",b)

IndentationError: ignored

In [ ]:
 a=int(input ("Enter a value"))
b=int(input ("Enter b value"))
if a>b:
  print ("If block")
  print ("%d is big",a)
else :
  print ("else block")
  print ("%d is big",b)

Enter a value2
Enter b value6
else block
%d is big 6

Exercise-2

 a) Write a program to compute distance between two points taking input from the user(Pythagorean 
Theorem)

In [ ]:
import math
x1=int(input ("Enter x1 value"))
x2=int(input ("Enter x2 value"))
y1=int(input ("Enter y1 value"))
y2=int(input ("Enter y2 value"))
 
d=math.sqrt(((x2-x1)**2)+((y2-y1)**2))
 
print("Distances between two points is(%d,%d) and (%d,%d) is %f"%(x1,x2,y1,y2,d))

Enter x1 value5
Enter x2 value6
Enter y1 value49
Enter y2 value45
Distances between two points is(5,6) and (49,45) is 4.123106

b) write a program add.py that takes 2 numbers as command line arguments and prints it's sum

In [ ]:
 
import sys
 
a=int(sys.argv[1])
b=int(sys.argv[2])
Sum=a+b
print ("Sum of two numbers is :",Sum)

ValueError: ignored

Exercise-3

 a) Write a Program for checking whether the given number is an even number or not.

In [ ]:
n=int(input ("Enter n value"))
if(n%2==0):
  print ("Given number is even",n);
else:
 print ("Given number is odd",n);

Enter n value49
Given number is odd 49

 b) Using a for loop, write a program that prints out the decimal equivalents of 1/2, 1/3, 1/4, . . .1/10

In [ ]:
n=int(input ("Enter n value"))
j=1
i=1
while (i<=n):
  print ("%f is decimal equivalent for %d/%d "%(j/i,j,i))
  i+=1

Enter n value10
1.000000 is decimal equivalent for 1/1
0.500000 is decimal equivalent for 1/2
0.333333 is decimal equivalent for 1/3
0.250000 is decimal equivalent for 1/4
0.200000 is decimal equivalent for 1/5
0.166667 is decimal equivalent for 1/6
0.142857 is decimal equivalent for 1/7
0.125000 is decimal equivalent for 1/8
0.111111 is decimal equivalent for 1/9
0.100000 is decimal equivalent for 1/10

 c) Write a program using a for loop that loops over a sequence. What is sequence?

In [ ]:
num=[45,26,6,7,9,34,89] 
for i in num:
  print (i)

45
26
6
7
9
34
89

 d) Write a program using a while loop that asks the user for a number, and prints a countdownfrom the number to zero

In [ ]:
n=int(input ("Enter n value"))
while(n>=0):
  print (n)
  n-=1

Enter n value5
5
4
3
2
1
0

 Exercise - 4 Control Flow - Continued

 a) Find sum of prime numbers below below 2 million

In [ ]:
 
n=int(input("Enter n value"))
i=2
c=0
sum=0
for i in range(i,n):
   count=0
   for j in range(2,i): 
      if i%j==0: 
        count+=1 
        break
   if count==0: 
      sum=sum+i 
      c=c+1
print("The number prime numbers below the number %d is %d"%(n,c))
print("Sum of all prime numbers is %d"%(sum))

Enter n value2000
The number prime numbers below the number 2000 is 303
Sum of all prime numbers is 277050

 b)Bystarting with 1 and 2, the first 10 terms will be:
1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

In [ ]:
 
n=int(input("Enter the number of terms")) 
a=0
b=1 
c=a+b
count=0
st= " " 
while count<n: 
   st+=" "+str(c)
   a=b
   b=c
   c=a+b
   count+=1
print(st)

Enter the number of terms10
  1 2 3 5 8 13 21 34 55 89

 c) By considering the terms in the Fibonacci sequence whose values do not exceed four million,find the sum of the even-valued terms

In [ ]:
 
n=int(input("Enter the number of terms")) 
a=0
b=1 
c=a+b
sum=0
count=0
st= " " 
while count<n: 
   st+=" "+str(c)
   if (c%2==0):
       sum+=c
   a=b
   b=c
   c=a+b
   count+=1
print("fibonacci series ...")
print(st)
print("Sum of the even valued terms  fibnoicc series is ",sum)

Enter the number of terms10
fibonacci series ...
  1 2 3 5 8 13 21 34 55 89
Sum of the even valued terms  fibnoicc series is  44

Exercise -5a

 a) Write a program to count the numbers of characters in the string and store them in adictionary data 
structure

In [ ]:
list=[ ]
d={ }
n=int(input ("Enter your list size"))
for i in range (0,n):
  x=input ("Enter your string")
  list.append(x)
for i in range (0,n):
  y=0
  y=len(list[i])
  print ("The number characters in string %s is %d"%(list[i],y))
  d.update({list[i]:y})
print(d)

Enter your list size3
Enter your stringSai
Enter your stringSwami
Enter your stringKumar
The number characters in string Sai is 3
The number characters in string Swami is 5
The number characters in string Kumar is 5
{'Sai': 3, 'Swami': 5, 'Kumar': 5}

b) Write a program to use split and join method in the string and trace a birthday with dictionary data structure

In [ ]:
dob={"Swami":"10-07-2002","Sai":"23-06-2002"}
name=input ("Which person date of birth you want")
l=name.split()
brith=" "
for i in l:
   if i in dob.keys():
       pres=i 
print (" ".join([pres,"Birthday is",dob[pres]]))

Which person date of birth you wantSwami
Swami Birthday is 10-07-2002

Exercise -6 DS continue

 a) Write a program combinelists that combines these lists into a dictionary.

In [ ]:
 
sub=["daa","os","dbms","p&s","ppl","se"]
marks=[85,96,75,65,83,56]
print(sub)
print(marks)
dic=dict(zip(sub,marks))
print(dic)

['daa', 'os', 'dbms', 'p&s', 'ppl', 'se']
[85, 96, 75, 65, 83, 56]
{'daa': 85, 'os': 96, 'dbms': 75, 'p&s': 65, 'ppl': 83, 'se': 56}

 b) Write a program to count frequency of characters in a given file. Can you use characterfrequency to 
tell whether the given file is a Python program file, C program file or a text file?

In [ ]:
filetype=['.py','.c','.txt']
fn=input ("Enter the file name")
f=open (fn,"r")
count=dict()
for ft in filetypes:
   if(ft in fn):
      if(ft=='.py'):
         print ("Python file")
      elif(ft=='.c'):
         print ("C file")
      elif(ft=='.txt'):
         print ("text file")
for line in f:
   for ch in line:
      if ch in count:
         count [ch]=count [ch]+1
      else:
         count [Ch]=1
print (count)
f.close()

 Exercise - 7 Files

  a) Write a program to print each line of a file in reverse order.

In [ ]:
 obj=open ("pqr.txt","r")
lines=obj.readlines()
for ln in lines:
   print (ln[::-1])

  b) Write a program to compute the number of characters, words and lines in a file.

In [ ]:
 n1=nc=nw=0
obj=open("pqr.txt","r")
lines=obj.readlines()
for ln in lines:
    n1+=1
    words=ln.split()
    nw=len(words)
    nc+=len(ln)
print ("Number of Lines",n1)
print ("Number of Words",nw)
print ("Number of Characters",nc)

Exercise -8 Functions

 a) Write a function ball collide that takes two balls as parameters and computes if they arecolliding. Your function should return a Boolean representing whether or not the balls arecolliding.
Hint: Represent a ball on a plane as a tuple of (x, y, r), r being the radius
If (distance between two balls centers) <= (sum of their radii) they (they are colliding)

In [ ]:
 
import math
 
def ball_collide(t1,t2): 
     x1,y1,r1=t1
     
     x2,y2,r2=t2
     d=math.sqrt((x2-x1)**2+(y2-y1)**2)
     if d<=r1+r2: 
        return True
     else :
        return False
t1=[ ]        
t2=[ ]
print("Enter ball one coordinates and radius")
for i in range(0,3): 
   x=int(input())
   t1.append(x)
print("Enter ball two coordinates and radius")   
for i in range(0,3): 
   x=int(input())
   t2.append(x)   
t1=tuple(t1)
t2=tuple(t2)
if(ball_collide(t1,t2)): 
   print("Balls are colliding to each other")
else:
     print("Balls are Not colliding to each other")

Enter ball one coordinates and radius
2
4
6
Enter ball two coordinates and radius
3
6
9
Balls are colliding to each other

b) Find mean, median, mode for the given set of numbers in a list.

In [ ]:
def list_mean(num_list):
    return sum(num_list)/len(num_list)
def list_median(num_list):
    num_list.sort()
    print (num_list)
    n=len(num_list)
    print ("Total",n)
    mid=n//2
    print ("Mid",mid)
    if(n%2==1):
       return num_list[mid]
    else:
       return (num_list[mid-1]+num_list[mid])/2
def list_mode(num_list):
    num_list.sort()
    temp=[]
    i=0
    while i<len(num_list):
       temp.append(num_list.count(num_list[i]))
       i+=1
    dic=dict (zip (num_list,temp))
    mode={k for (k,v) in dic.items() if v==max(temp)}
    return mode
list=[1,1,2,2,2,3,4,5,3]
print ("Mean of the given list:",list_mean(list))
print ("Median of the given list:",list_median(list))
print ("Mode of the given list:",list_mode(list))

Mean of the given list: 2.5555555555555554
[1, 1, 2, 2, 2, 3, 3, 4, 5]
Total 9
Mid 4
Median of the given list: 2
Mode of the given list: {2}

Exercise-9 Function Continue

 a) Write a function nearly equal to test whether two strings are nearly equal. Two strings a and bare 
nearly equal when a can be generated by a single mutation on b.

In [ ]:
def nearly_eq(str1,str2):
    count=0
    i=j=0
    while (i<len(str1) and j<len(str2)):
        if(str1[i]!=str2[j]):
          count+=1
          if(len(str1)>len(str2)):
             i+=1
          elif(len(str1)==len(str2)):
             pass
          else:
            i-=1
        if (count>1):
          return False
        i+=1
        j+=1
        if(count<2):
           return True
S1=input ("Enter string1")
S2=input ("Enter string2")
if(nearly_eq(S1,S2)):
   print ("Strings are nearly equal")
else:
   print ("Strings are not nearly equal")

Enter string1Sai
Enter string2Swami
Strings are nearly equal

 b) Write a function dup to find all duplicates in the list.

In [ ]:
 
def dup(list1,n):
    lista=[ ]
    for i in range(0,n):
        count=1
        for j in range(i+1,n):
            if(list1[i]==list1[j] ):
                count+=1
                list1[j]=-1
        
        if(count>1 and list1[i]!=-1):
            lista.append(list1[i])
               
    print("The duplicate elements in list is ::",lista)
     
list1=[ ]
n=int(input("Enter n value"))
 
print("Enter data")
for i in range(0,n):
    x=int(input())
    list1.append(x)
dup(list1,n)

Enter n value6
Enter data
10
2
3
5
10
2
The duplicate elements in list is :: [10, 2]

 c) Write a function unique to find all the unique elements of a list.

In [ ]:
 
def unique (list1,n):
    lista=[ ]
    for i in range(0,n):
        count=1
        for j in range(i+1,n):
            if(list1[i]==list1[j] ):
                count+=1
                list1[j]=-1
        
        if(count==1 and list1[i]!=-1):
            lista.append(list1[i])
               
    print("The unique elements in list is ::",lista)
     
list1=[ ]
n=int(input("Enter n value"))
 
print("Enter data")
for i in range(0,n):
    x=int(input())
    list1.append(x)
unique(list1,n)

Enter n value5
Enter data
10
6
3
10
9
The unique elements in list is :: [6, 3, 9]

Exercise-10 Functions Problem- Solving

 a) Write a function cumulative product to compute cumulative product of a list of numbers.

In [ ]:
 
def cummulative_product(list1,n): 
    listcp=[ ]
    i=0
    listcp.append(list1[i])
    for i in range(1,n):
      x=list1[i]*listcp[i-1]
      listcp.append(x)
    print(listcp)
list1=[ ]
n=int(input("Enter your lists size"))
print("Enter your data")
for i in range(0,n): 
  x=int(input())
  list1.append(x)
cummulative_product(list1,n)

Enter your lists size5
Enter your data
10
1
2
4
3
[10, 10, 20, 80, 240]

 b) Write a function reverse to reverse a list. Without using the reverse function.

In [ ]:
def reverse_list(list1):
    i=0
    j=len(list1)-1
    while (i<=j):
       temp=list1[i]
       list1[i]=list1[j]
       list1[j]=temp
       i+=1
       j-=1
list1=[]
n=int(input ("Enter your list size"))
print ("Enter data")
for i in range (0,n):
  x=int(input ())
  list1.append(x)
reverse_list(list1)
print ("List after reverse function",list1)

Enter your list size5
Enter data
10
20
30
40
50
List after reverse function [50, 40, 30, 20, 10]

 c) Write function to compute gcd, lcm of two numbers. Each function shouldn’t exceed one line.

In [ ]:
 
gcd=lambda a,b : a if b==0 else gcd(a,a%b)
lcm=lambda a,b : (a*b)/gcd(a,b)
 
a=int(input("Enter a value"))
b=int(input("Enter b value"))
print("GCD of two numbers is ::",gcd(a,b))
print("LCM of two numbers is ::",lcm(a,b))

Enter a value6
Enter b value6
GCD of two numbers is :: 6
LCM of two numbers is :: 6.0

 Exercise 11 Multi D lists

 a) Write a program that defines a matrix and prints

In [ ]:
 
def read_matrix(rows,cols):
    print(" Enter data into matrix ")
    return [[int(input())for j in range(0,cols)]for i in range(0,rows)]
    
def display_matrix(matrix,rows,cols):
    for i in range(0,rows):
        for j in range(0,cols):
            print(matrix[i][j],end='\t')
        print()
rows=int(input("Enter rows size::"))
cols=int(input("Enter cols size::"))
 
matrix1=read_matrix(rows,cols)
print ("Displaying matrix")
display_matrix(matrix1,rows,cols)

Enter rows size::2
Enter cols size::2
 Enter data into matrix
1
2
3
4
Displaying matrix
1	2
3	4

 b) Write a program to perform addition of two square matrices

In [ ]:
 
def mat_read(rows,cols):
    mat=[[int(input("Enter the mat[%d,%d] value "%(i,j)))for j in range(cols)]for i in range (rows)]
    return mat
def print_mat(rows,cols,mat):
    for i in range(rows):
        for j in range (cols):
            print(mat[i][j],end='\t')
        print()
    
matA=[[]]
matB=[[]]
mat_sum=[[]]
 
 
rows=int(input("Enter the row size "))
cols=int(input("Enter the column size "))
 
if(rows==cols):
    print("For matrix A")
    matA=mat_read(rows,cols)
    
    print("For matrix B")
    matB=mat_read(rows,cols)
    
    mat_sum=[[matA[i][j]+matB[i][j] for j in range(cols)]for i in range (rows)]
 
    print("Matrix A ")
    print_mat(rows,cols,matA)
    
    print("Matrix B ")
    print_mat(rows,cols,matB)
    
    print("Matrix A+B = ")
    print_mat(rows,cols,mat_sum)
else:
    print("Matrix Addition is not possible")

Enter the row size 2
Enter the column size 2
For matrix A
Enter the mat[0,0] value 1
Enter the mat[0,1] value 2
Enter the mat[1,0] value 3
Enter the mat[1,1] value 4
For matrix B
Enter the mat[0,0] value 5
Enter the mat[0,1] value 6
Enter the mat[1,0] value 7
Enter the mat[1,1] value 8
Matrix A
1	2
3	4
Matrix B
5	6
7	8
Matrix A+B =
6	8
10	12

 c) Write a program to perform multiplication of two square matrices

In [ ]:
 
def mat_read(rows,cols):
    mat=[[int(input("Enter the mat[%d,%d] value "%(i,j)))for j in range(cols)]for i in range (rows)]
    return mat
def print_mat(rows,cols,mat):
    for i in range(rows):
        for j in range (cols):
            print(mat[i][j],end='\t')
        print()
    
matA=[[]]
matB=[[]]
mat_mul=[[]]
 
 
rows=int(input("Enter the row size "))
cols=int(input("Enter the column size "))
 
if(rows==cols):
    print("For matrix A")
    matA=mat_read(rows,cols)
    
    print("For matrix B")
    matB=mat_read(rows,cols)
    
    mat_mul=[[0 for j in range(cols)]for i in range (rows)]
 
    for i in range (rows):
        for j in range(cols):
            for k in range(cols):
                mat_mul[i][j]+=matA[i][k]*matB[k][j]
 
    print("Matrix A ")
    print_mat(rows,cols,matA)
    
    print("Matrix B ")
    print_mat(rows,cols,matB)
    
    print("Matrix A*B = ")
    print_mat(rows,cols,mat_mul)
else:
    print("Matrix multiplication is not possible")

Enter the row size 2
Enter the column size 2
For matrix A
Enter the mat[0,0] value 1
Enter the mat[0,1] value 2
Enter the mat[1,0] value 3
Enter the mat[1,1] value 4
For matrix B
Enter the mat[0,0] value 5
Enter the mat[0,1] value 6
Enter the mat[1,0] value 7
Enter the mat[1,1] value 8
Matrix A
1	2
3	4
Matrix B
5	6
7	8
Matrix A*B =
19	22
43	50